body {
    font-family:"Microsoft YaHei";
}
.all {
    color:#fff;
    text-align:center;
    font-size:22px;
}
.ace {
    background:url(img/lwa.jpg);
    background-size: 100% 100%;
    vertical-align:text-top;
}
.all h1 {
    color:#00FF94;;
}
.lw {
    text-align:left;
    color:#fff;
    background: url(img/lwb.jpg);
    background-size: 100% 120%;
}
.lw h1{
    padding-left:10%;
}
.lw p {
    padding-left:10%;
}
.lw a {
    color:#00FFF5;;
}

.lc {
    text-align:left;
    color:#fff;
    background: url(img/coin.png);
    background-size: 100% 120%;
}
.lc h1{
    padding-left:10%;
}
.lc p {
    padding-left:10%;
}
.lc a {
    color:#00FFF5;;
}

.xc {
    text-align:left;
    color:#fff;
    background: url(img/xcbg.jpg);
    background-size: 100% 120%;
}
.xc h1{
    padding-left:10%;
}
.xc p {
    padding-left:10%;
}
.xc a {
    color:#00FFF5;;
}