body {
    font-family:"Microsoft YaHei";
}
.all {
    color:#fff;
    text-align:center;
}
.ace {
    background:url(img/allb.jpg);
    background-size: 100% 100%;
}
.lw {
    text-align:left;
    color:#fff;
    background: url(img/lwb.jpg);
    background-size: 100% 120%;
}

.lw h1{
    padding-left:10%;
}
.lw p {
    padding-left:10%;
}
.lw a {
    color:#00FFF5;;
}

.lc{
    text-align: left;
    color: #fff;
    background: url(img/coo.jpg);
    background-size: 100% 100%;
    padding-left: 10%;

}

.lc h1{
    padding-left:10%;
}
.lc p {
    padding-left:10%;
}
.lc a {
    color:#fff;

}
